@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
    <div class="col-md-6">
        <h2>Application uses</h2>
        <ul>
            <li>Sample pages using ASP.NET Core MVC</li>
            <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Local resource</h2>
        <button id="btn-open-notepad" class="btn btn-default">Open Notepad</button>
        
    </div>
</div>
